{% extends 'base.html' %}
{% load static %}

{# header 블록을 비워서 오버라이드(header없애기 위함) #}
{% block header %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/mypage/mychatdetail.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="header">
        <button class="close-button" onclick="history.back()">
            <i class="fa-solid fa-times"></i>
        </button>
        <h1>{{ memo.profile_user }}님과 진행중인 커피챗</h1>
        {% if memo.is_requester %}
            <button class="complete-button" data-coffeechat-id="{{ memo.coffeechat }}">커피챗 완료하기</button>
        {% endif %}
    </div>
    <div class="review-date">커피챗 수락일: {{ memo.accepted_date }}</div>
    <div class="main-content">
        <form method="POST">
            {% csrf_token %}
            <textarea name="content" class="question-input">{{ memo.memo_content }}</textarea>
            <button type="submit" class="submit-button">저장하기</button>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const completeButton = document.querySelector('.complete-button');

        if (completeButton) {
            completeButton.addEventListener('click', function() {
                if (confirm('커피챗을 완료하시겠습니까?')) {
                    const coffeeChatId = this.dataset.coffeechatId;
                    
                    fetch(`/mypage/coffeechat/${coffeeChatId}/complete`, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                        },
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert('커피챗이 성공적으로 완료되었습니다.');
                            window.location.href = "{% url 'mypage:coffeechat_in_progress' %}";
                        } else {
                            alert('커피챗 완료 처리 중 오류가 발생했습니다.');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('커피챗 완료 처리 중 오류가 발생했습니다.');
                    });
                }
            });
        }
    });
</script>
{% endblock %}
