<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강호동님과 진행중인 커피챗</title>
    <link rel="stylesheet" href="/static/css/variables.css">
    <link rel="stylesheet" href="/static/css/mypage/mychatdetail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="content">
        <div class="header">
            <button class="close-button" onclick="history.back()"><i class="fas fa-times"></i></button>
            <h1>강호동님과 진행중인 커피챗</h1>
        </div>
        <div class="review-date">커피챗 수락일: 2024-12-30</div>
        <div class="main-content">
            <div class="main-name">기록된 내용</div>
            <textarea class="question-input">1. 왜 프론트엔드를 선택하게 되셨나요?
→ 대답: 결과가 바로바로 나오는 것이 좋았다고함.
프론트, 백을 결정할때 직접 해보고 결정하는 것을 조언해주심.</textarea>
            <button class="submit-button">저장하기</button>
        </div>
    </div>
</body>
</html>