<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강호동님과 진행중인 커피챗</title>
    <link rel="stylesheet" href="/static/css/variables.css">
    <link rel="stylesheet" href="/static/css/mypage/mychatdetail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="content">
        <div class="header">
            <button class="close-button" onclick="history.back()"><i class="fas fa-times"></i></button>
            <h1>강호동님과의 커피챗에 대해서 <br/>리뷰 작성하기</h1>
        </div>
        <div class="main-content">
            <textarea class="question-input"></textarea>
            <button class="submit-button">리뷰 작성하기</button>
        </div>
    </div>
</body>
</html>